<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>179562964357-94fmhgficferf883ovgb6t7apkqjuhsh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.179562964357-94fmhgficferf883ovgb6t7apkqjuhsh</string>
	<key>API_KEY</key>
	<string>AIzaSyBE_g7J11qg36dy02e5AtmKzpZlgQusOiw</string>
	<key>GCM_SENDER_ID</key>
	<string>179562964357</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.codewithdilan.VideoPlayer</string>
	<key>PROJECT_ID</key>
	<string>videoplayer-267ef</string>
	<key>STORAGE_BUCKET</key>
	<string>videoplayer-267ef.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:179562964357:ios:c697f33f9cccd61766d0ec</string>
	<key>DATABASE_URL</key>
	<string>https://videoplayer-267ef.firebaseio.com</string>
</dict>
</plist>